@import url('https://fonts.googleapis.com/css?family=Arimo|Pacifico');

.Title {
  text-align: center;
}

.Title h1 {
  font-family: 'Pacifico', cursive;
  color: #ffffff;
  font-size: 62px;
  margin: 0;
  padding: 20px;
  line-height: 72px;
}

.Title h2 {
  font-family: 'Arimo', sans-serif;
  margin: 0 0 20px 0;
  color: #fff
}
