.TodoForm {
  display: grid;
  grid-gap: 20px;
}

.TodoForm button {
  padding: 10px;
  font-size: 16px;
  margin-right: 0px;
  background-color: #0066FF;
  color: #FFF;
  border: 2px solid #0066FF;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  justify-self: center;
}

.TodoForm button:hover {
  background-color: #003399;
  border: 2px solid #003399;
  cursor: pointer;
}

.TodoForm input {
  border: 2px solid #fff;
  border-radius: 5px;
  width: 300px;
  height: 30px;
  padding: 5px;
  justify-self: center;
}

.TodoForm input:focus {
  border: 2px solid #6Cf;
}
